{% extends 'base.html'%}
{% load static %}
{% load leaflet_tags %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}




{% block map_content %}
<style>
    .leaflet-container {

        width: 100%;
        height: 100%;
    }

    #specialbigmap {
        height: 600px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    .leaflet-marker-icon img {
        border: 0;
    }

    #map {
        height: 100%;
        width: 100%;
    }

    #slides {
        min-height: 50px;
    }
</style>

<!-- stylesheets -->
{% leaflet_js %}
{% leaflet_css %}

<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

{% leaflet_map "main" %}

<div id="sidebar" class="leaflet-sidebar">
    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <!-- top aligned tabs -->
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-home active"></i></a></li>
            <li><a href="#autopan" role="tab"><i class="fa fa-book-open"></i></a></li>
        </ul>


    </div>

    <!-- panel content -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
                Home
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>

            <p>A responsive sidebar for the mapping library <a href="https://leafletjs.com/">Leaflet</a>.</p>
            <p>Compatible with version 0.7 and 1.x (tested up to 1.6.0)</p>
            <p><b>Select the other panes for a showcase of each feature.</b></p>

            <h2>More examples</h2>
            <ul>
                <li><a href="./position-right.html">Right aligned</a></li>
                <li><a href="./halfheight.html">The sidebar adapts to map container size</a></li>
                <li><a href="./leaflet-0.7.html">Proof that it works with leaflet 0.7</a></li>
            </ul>

            <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita
                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="leaflet-sidebar-pane" id="autopan">

        </div>

    </div>



    <script>
        var dataurl = '{% url "get_sites" %}';
        var chilldataurl = '{% url "get_chills" %}';
        // var data = new L.GeoJSON.AJAX(dataurl)
        var sidebarDiv = document.getElementById('sidebar');
        var selected;

        var siteMarker = L.ExtraMarkers.icon({
            icon: 'fa-monument',
            markerColor: 'green',
            shape: 'square',
            prefix: 'fa'
        })

        var restaurantMarker = L.ExtraMarkers.icon({
            icon: 'fa-coffee',
            markerColor: 'orange',
            shape: 'square',
            prefix: 'fa'
        })

        function get_marker(color, icon) {
            return L.ExtraMarkers.icon({
                icon: icon,
                markerColor: color,
                shape: 'square',
                prefix: 'fa'
            })
        }

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            var sidebar = L.control.sidebar('sidebar', {
                autopan: false,
                container: 'sidebar',
                closeButton: true,
                position: 'right'
            }).addTo(map).open('home');

            L.control.locate({
                flyTo: true
            }).addTo(map);

            sidebar.on('content', function (ev) {
                switch (ev.id) {
                    case 'autopan':
                        sidebar.options.autopan = true;
                        break;
                    default:
                        sidebar.options.autopan = false;
                }
            });

            function createButton(label, container) {
                var btn = L.DomUtil.create('button', '', container);
                btn.setAttribute('type', 'button');
                btn.innerHTML = label;
                return btn;
            }

            map.on('click', function (e) {
                var container = L.DomUtil.create('div'),
                    startBtn = createButton('Start from this location', container),
                    destBtn = createButton('Go to this location', container);

                L.popup()
                    .setContent(container)
                    .setLatLng(e.latlng)
                    .openOn(map);
            });







            // var markers = L.markerClusterGroup();
            // Download GeoJSON data with Ajax
            // map.addControl(sidebar);

            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    points = L.geoJson(data)
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {

                            var container = L.DomUtil.create('div'),
                                startBtn = createButton('Start from this location', container),
                                destBtn = createButton('Go to this location', container);

                            var popup = L.popup()
                                .setLatLng([51.513, -0.09])
                                .setContent(container)
                                .openOn(map);



                            var props = feature.properties;
                            var content = `<h3>${props.location_code}</h3><p>${props.location_code}</p>`;
                            layer.setIcon(siteMarker);
                            layer.bindPopup(popup);
                            layer.on({
                                click: function () {
                                    // console.log(feature.latlng);
                                    L.DomEvent.on(startBtn, 'click', function () {
                                        L.control.spliceWaypoints(0, 1, feature.geometry.coordinates);
                                        map.closePopup();
                                    });

                                    L.DomEvent.on(destBtn, 'click', function () {
                                        L.control.spliceWaypoints(L.control.getWaypoints().length - 1, 1, feature.geometry.coordinates);
                                        map.closePopup();
                                    });

                                    console.log(props)
                                    content = document.getElementById('autopan').innerHTML = `
                                                                <h1 id="name" class="leaflet-sidebar-header">
                                                                   ${props.name}
                                                                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                                                                </h1>
                                                                <div>
                                                                    <div id="slides" data-bs-ride="carousel"></div>
                                                                <div>
                                                                <div>
                                                                    <h6>Year started:</h6>
                                                                    <p id="year_started">${props.year_of_inception}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Description: </h6>
                                                                    <p id="description">${props.description}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Fee: </h6>
                                                                    <p id="fee">${props.fee}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Contact: </h6>
                                                                    <p id="contact">${props.contact_name}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Phone: </h6>
                                                                    <p id="phone">${props.conatct}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Email: </h6>
                                                                    <p id="email">${props.email ? props.email : 'Not provided'}</p>
                                                                </div>
                                                                <div>
                                                                    <h6>Access Road: </h6>
                                                                    <p id="access_road"></p>
                                                                </div>
                                                            `;

                                    var myCarousel = document.querySelector('#slides')
                                    for (let x in props.media) {
                                        console.log(props.media[x])
                                        img = `

                                                                
                                                                        <div>
                                                                        <img src=${props.media[x].link}>
                                                                        </div>
                                                                    
                                                                `
                                        myCarousel.innerHTML += img
                                    }

                                    var carousel = new bootstrap.Carousel(myCarousel)

                                }
                            })

                        }
                    }).addTo(map)
                    map.fitBounds(points.getBounds());


                });


            fetch(chilldataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    console.log(data);
                    points = L.geoJson(data)
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {

                            var container = L.DomUtil.create('div'),
                                startBtn = createButton('Start from this location', container),
                                destBtn = createButton('Go to this location', container);

                            var popup = L.popup()
                                .setLatLng([51.513, -0.09])
                                .setContent(container)
                                .openOn(map);



                            var props = feature.properties;
                            var content = `<h3>${props.location_code}</h3><p>${props.location_code}</p>`;
                            layer.setIcon(restaurantMarker);
                            layer.setIcon(get_marker(props.type.color, props.type.incon))
                            layer.bindPopup(popup);
                            layer.on({
                                click: function () {
                                    // console.log(feature.latlng);
                                    L.DomEvent.on(startBtn, 'click', function () {
                                        L.control.spliceWaypoints(0, 1, feature.geometry.coordinates);
                                        map.closePopup();
                                    });

                                    L.DomEvent.on(destBtn, 'click', function () {
                                        L.control.spliceWaypoints(L.control.getWaypoints().length - 1, 1, feature.geometry.coordinates);
                                        map.closePopup();
                                    });

                                    console.log(props)
                                    content = document.getElementById('autopan').innerHTML = `
                                                             
                                                            
                                                               
                                                                <h1 id="name" class="leaflet-sidebar-header">
                                                                   ${props.name}
                                                                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                                                                </h1>
                                                               <div>
                                                                    <div id="slides" data-bs-ride="carousel"></div>
                                                                <div>
                                                                <div class="info">
                                                                    <div>
                                                                        <h3 class="title">${props.name}</h3>
                                                                    </div>
                                                                    
                                                                    <div class="contact">
                                                                        <h5>Contact</h5>
                                                                        <p>${props.contact}</p>

                                                                        <div>
                                                                            <h5>Email</h5>
                                                                            <p>${props.email}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <h5>Website</h5>
                                                                        <p>${props.website}</p>
                                                                    </div>
                                                                    <div>
                                                                        <h5>Total rooms</h5>
                                                                        <p>${props.number_of_rooms}</p>
                                                                    </div>
                                                                    <div>
                                                                        <h5>Fees Per Night (Bed and Breakfast)</h5>
                                                                        <p>${props.fee}</p>
                                                                    </div>
                                                                </div>
                                                            
                                                            `;

                                    var myCarousel = document.querySelector('#slides')
                                    for (let x in props.media) {
                                        console.log(props.media[x])
                                        img = `

                                           
                                                <div>
                                                <img src=${props.media[x].link}>
                                                </div>
                                            
                                        `
                                        myCarousel.innerHTML += img
                                    }

                                    var carousel = new bootstrap.Carousel(myCarousel)

                                }
                            })

                        }
                    }).addTo(map)
                    map.fitBounds(points.getBounds());


                });
        });
    </script>

    {% endblock map_content %}