{% extends 'base.html'%}
{% load static %}
{% load leaflet_tags %}




{% block map_content %}
<style>
    .leaflet-container {

        width: 100%;
        height: 100%;
    }

    #specialbigmap {
        height: 600px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    .leaflet-marker-icon img {
        border: 0;
    }

    #map {
        height: 100%;
        width: 100%;
    }
</style>

<!-- stylesheets -->
{% leaflet_js %}
{% leaflet_css %}

<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

{% leaflet_map "main" %}

<div id="sidebar" class="leaflet-sidebar">
    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <!-- top aligned tabs -->
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-home active"></i></a></li>
            <li><a href="#autopan" role="tab"><i class="fa fa-book-open"></i></a></li>
        </ul>


    </div>

    <!-- panel content -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
                Home
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>

            <div>
                <h4>Northern Uganda Tourist Sites</h4>
            </div>
            <br>
            <div class="description">
                <p>This webmap shows the different tourists sites and nearby amenities. For further information of each
                    amenity and tourist site click the icon.</p>
            </div>
            <div>
                <img src="https://live.staticflickr.com/65535/52215778688_96ca5c21ea.jpg" width="100%" class="img-fluid"
                    alt="">
            </div>
            <br>
            <div>
                <p>Learn more about the Pearl of Africa, Uganda's tourist sites in northern Uganda with a brief history
                    and images to
                    provide digital insight and experience.

                    Contact the numbers displayed for further information and support.</p>
            </div>
            <div>
                <h5>Restaurants</h5>
                <p>Experience Uganda's Local Foods with a touch of the Northern Cuisine spanning from different staple
                    foods of
                    the region.</p>
                <br>
                <h5>Hangouts</h5>
                <p>A place to cool off a good day with a cold Nile Special Beer among other drinks with smooth
                    music with a touch
                    of africa's afro beat and nice melodic music</p>

            </div>
            <div>
                <h5>Banks</h5>
                <img src="https://www.kampalapost.com/sites/default/files/2020-10/Stanbic%20Bank%20has%20been%20hit%20by%20another%20fraud%20scandal.jpeg"
                    class="img-fluid" width="100%" alt="">
                <br>
                <p>Out of Cash?, worry not as here are the Financial services available to support you on your
                    exploration journey. A few
                    places accept VISA / MasterCard payments</p>
            </div>
            <div>
                <h5>Accomodation</h5>
                <p>Amazing accommodation for all walks of life and budget as you experience nature in the northern Pearl
                    of Africa, Uganda.
                </p>
                <img src="https://live.staticflickr.com/65535/52216045214_3ec431d94e.jpg" width="100%" alt="">
            </div>
        </div>

        <div class="leaflet-sidebar-pane" id="autopan">
            <h1 id="name" class="leaflet-sidebar-header">
                Details
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <div>
                <h6>Year started:</h6>
                <p id="year_started"></p>
            </div>
            <div>
                <h6>Description: </h6>
                <p id="description"></p>
            </div>
            <div>
                <h6>Fee: </h6>
                <p id="fee"></p>
            </div>
            <div>
                <h6>Contact: </h6>
                <p id="contact"></p>
            </div>
            <div>
                <h6>Phone: </h6>
                <p id="phone"></p>
            </div>
            <div>
                <h6>Email: </h6>
                <p id="email"></p>
            </div>
            <div>
                <h6>Access Road: </h6>
                <p id="access_road"></p>
            </div>
        </div>

        <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="image1" src=`${selected.image}` class="d-block w-100" alt="First Image">
            </div>
            <div class="carousel-item active">
                <img id="image1" src=`${selected.image_2}` class="d-block w-100" alt="First Image">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div>
        <h6>Year started:</h6>
        <p id="year_started"></p>
    </div>
    <div>
        <h6>Description: </h6>
        <p id="description"></p>
    </div>
    <div>
        <h6>Fee: </h6>
        <p id="fee"></p>
    </div>
    <div>
        <h6>Contact: </h6>
        <p id="contact"></p>
    </div>
    <div>
        <h6>Email: </h6>
        <p id="email"></p>
    </div>
    <div>
        <h6>Access Road: </h6>
        <p id="access_road"></p>
    </div> -->

    </div>



    <script>
        var dataurl = '{% url "get_sites" %}';
        // var data = new L.GeoJSON.AJAX(dataurl)
        var sidebarDiv = document.getElementById('sidebar');
        var selected;

        var siteMarker = L.ExtraMarkers.icon({
            icon: 'fa-monument',
            markerColor: 'green',
            shape: 'square',
            prefix: 'fa'
        })

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            var sidebar = L.control.sidebar('sidebar', {
                autopan: false,
                container: 'sidebar',
                closeButton: true,
                position: 'right'
            }).addTo(map).open('home');

            L.control.locate({
                flyTo: true
            }).addTo(map);

            // sidebar
            //     .addPanel({
            //         id: 'js-api',
            //         tab: '<i class="fa fa-gear"></i>',
            //         title: 'JS API',
            //         pane: '<p>The Javascript API allows to dynamically create or modify the panel state.<p/><p><button onclick="sidebar.enablePanel(\'mail\')">enable mails panel</button><button onclick="sidebar.disablePanel(\'mail\')">disable mails panel</button></p><p><button onclick="addUser()">add user</button></b>',
            //     })
            //     // add a tab with a click callback, initially disabled
            //     .addPanel({
            //         id: 'mail',
            //         tab: '<i class="fa fa-envelope"></i>',
            //         title: 'Messages',
            //         button: function () { alert('opened via JS callback') },
            //         disabled: true,
            //     })

            // be notified when a panel is opened
            sidebar.on('content', function (ev) {
                switch (ev.id) {
                    case 'autopan':
                        sidebar.options.autopan = true;
                        break;
                    default:
                        sidebar.options.autopan = false;
                }
            });




            // var markers = L.markerClusterGroup();
            // Download GeoJSON data with Ajax
            // map.addControl(sidebar);
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    points = L.geoJson(data)
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<h3>${props.location_code}</h3><p>${props.location_code}</p>`;
                            layer.setIcon(siteMarker);
                            // layer.bindPopup(content);
                            layer.on({
                                click: function () {
                                    console.log(props)
                                    document.getElementById('name').textContent = props.name;
                                    document.getElementById('year_started').textContent = props.year_of_inception;
                                    document.getElementById('description').textContent = props.brief_history;
                                    document.getElementById('contact').textContent = props.contact_name;
                                    document.getElementById('fee').textContent = props.fee;
                                    document.getElementById('phone').textContent = props.phone;
                                    document.getElementById('email').textContent = props.email;
                                    document.getElementById('access_road').textContent = props.email;

                                }
                            })

                        }
                    }).addTo(map)
                    map.fitBounds(points.getBounds());


                });
        });
    </script>

    {% endblock map_content %}