{% load bootstrap5 %}
{% load static %}
<!-- {% load leaflet_tags %} -->


<head>
    <title>Tourism Guide Map Uganda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'images/uganda-court.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/uganda-court.png' %}">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <!-- javascript -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

    <link rel="stylesheet" href="{% static 'css/L.Control.Sidebar.css'%}">
    <script src="{% static 'js/L.Control.Sidebar.js' %}"></script>


    {% bootstrap_css %}
    {% bootstrap_javascript %}


    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                <img class="img-fluid" src="{% static 'images/uganda-court.png' %}" width="48" height="48"
                    alt="Ministry of Tousrism Wildlife and Antiquities"> &nbsp;&nbsp; Ministry of Tourism Wildlife and
                Antiquities
            </a>

        </div>
    </nav>
    <!-- Close Header -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Explore Uganda</h1>
                <p>
                    This map gives you an insight of Uganda's Northern Tourist Sites. When you visit Uganda don't miss
                    some of them on your itenary.
                </p>
            </div>
        </div>





    </section>
    {% block map_content %}

    {% endblock map_content %}
    <div class="container row">

        <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">Resources</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li>
                    <a class="nav-link" href="https://tourism.go.ug">Ministry of Tourism, Wildlife and Antiquities</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">Tourism Agencies</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li><a class="nav-link" href="https://www.ugandawildlife.org">Uganda Wildlife Authority</a></li>
                <li><a class="nav-link" href="https://www.exploreuganda.com">Uganda Tourism Board</a></li>
                <li><a class="nav-link" href="https://uwec.ug">Uganda Wildlife Education Education Centre</a></li>
                <li><a class="nav-link" href="http:uwrti.ac.ug">Uganda Wildlife Reaserch and Training Institute</a></li>
                <li><a class="nav-link" href="https://www.uhtti.ac.ug">Uganda Hotel and Tourism Training Institute</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">Tourism Associations</h2>
            <ul class="list-unstyled text-light footer-link-list">
                <li><a class="nav-link" href="https://ugandatourismassociation.org">Uganda Tourism Association</a></li>
            </ul>
        </div>

    </div>

    <div class="row text-light mb-4">
        <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
        </div>
    </div>
    </div>
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; Ministry of Tourism Wildlife and Antiquities
                            | Designed by <a rel="sponsored" href="https://mapuganda.org/" target="_blank">OpenStreetMap
                                Uganda</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>